version: "3.8"
services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--save", "", "--appendonly", "yes"]  # persistence on for demo

  worker:
    build:
      context: .
      dockerfile: redis_load_balancer/workers/paddle/Dockerfile
    environment:
      - PYTHONUNBUFFERED=1
      - DEVICE=0
      - REDIS_HOST_OCR=redis
    command: ["python", "-m", "redis_load_balancer.workers.paddle.paddle_worker"]
    gpus: all
    
    depends_on:
      - redis
    volumes:
      - /home/hslee/workdir/test/redis_test/sample_image:/app/sample_image

# docker compose up --force-recreate --scale worker=4 --build