version: "3.8"
services:
  redis:
    image: redis:7-alpine
    container_name: redis
    environment:
      - TEST=1
    ports:
      - "6379:6379"
    command: ["redis-server", "--save", "", "--appendonly", "yes"]  # persistence on for demo

  worker:
    build:
      context: .
      dockerfile: redis_load_balancer/workers/paddle/Dockerfile
    # image: my-paddle-worker:latest  # 빌드 후 이 이름으로 태그됨  
    environment:
      - PYTHONUNBUFFERED=1
      - DEVICE=cpu
      - REDIS_HOST_OCR=redis
    command: ["python", "-m", "redis_load_balancer.workers.paddle.paddle_worker"]
    gpus: all
    
    depends_on:
      - redis
    volumes:
      - shared_cache:/app/cache
      - shared_sample:/app/sample_image


  tester:
    build:
      context: .
      dockerfile: redis_load_balancer/workers/paddle/Dockerfile
    environment:
      - PYTHONUNBUFFERED=1
      - DEVICE=cpu
      - REDIS_HOST_OCR=redis
    command: ["python", "-m", "redis_load_balancer.workers.paddle.tester"]
    gpus: all
    depends_on:
      - redis
    volumes:
      - shared_cache:/app/cache
      - shared_sample:/app/sample_image

volumes:
  shared_cache:
  shared_sample:

# docker compose up --force-recreate --scale worker=4 --scale tester=1 --build